<div class="well">
	<a href="index.html"><div class="button">חזרה לאתר</div></a>
<PRE> 
תנאי שימוש

1. כל המידע המופיע באתר מוגש כמידע כללי בלבד, אינו מהווה ייעוץ משפטי ואינו מהווה תחליף לייעוץ משפטי.
2. אין במידע המוגש באתר כדי להוות כל סוג של מצג ו/או התחייבות ביחס להיותו מעודכן, מלא או מדויק.
3. המידע המוגש באתר אינו מהווה הצעה או קיבול של משרדנו להתקשרות למתן ייצוג או ייעוץ משפטי, ואינו יוצר יחסי עורך דין – לקוח עם אף גוף או אדם.
4. על משרדנו לא חלה ולא תחול כל אחריות, כלפי כל אדם או גוף, ביחס לכל השלכה שתיגרם, ככל שתיגרם, כתוצאה מהסתמכות על מידע המוגש באתר זה בפרט או מכל שימוש אחר באתר ו/או במידע שבו בכלל.
5. משרדנו אינו ערב ואינו יכול לערוב לשמירת סודיות של כל סוג של תשדורת המבוצעת באמצעות אתר זה. כל תשדורת המבוצעת באמצעות אתר זה איננה מאובטחת ומבוצעת אך ורק על אחריות המשתמש, מבלי שלמשרדנו תהיה כל אחריות לסודיות התשדורת.
6. הגם שאתר זה מכיל קישורים המובילים לאתרים חיצוניים לו, משרדנו איננו אחראי לתוכנם של אתרים חיצוניים אלה, לרבות לכל מידע ו/או תוכן המפורסם בהם. קישור לאתר חיצוני כלשהו אינו מהווה הסכמה או אישור לתוכנו של אותו אתר ו/או המלצה לשימוש בו ו/או כל מצג ביחס לאותו אתר על תכניו.
7. בעלי האתר ו/או מפעילי האתר לא ישאו באחריות כלשהי, ישירה או עקיפה, לכל נזק שייגרם כתוצאה משימוש באתר ו/או בכל מידע שיימצא בו.
8. כל הזכויות באתר שמורות לר.שטרן, עו"ד ו/או לצדדים שלישיים שהעניקו הרשאה להשתמש בהם במסגרת האתר. המשתמש אינו רשאי לעשות כל שימוש מסחרי בחומרים הכלולים באתר.
9. למשרדנו נתונה הזכות המלאה לעדכן, לשנות ולערוך את התכנים המופיעים באתר זה, בכל זמן, ללא הודעה מוקדמת על פי שיקול דעתו הבלעדי של משרדנו.
10. דיני מדינת ישראל יחולו על תנאי השימוש באתר ועל כל הנובע מהם או הכרוך בהם. כל מחלוקת או שאלה משפטית בקשר לתנאי שימוש אלה יתבררו בערכאה השיפוטית המוסמכת בתל אביב - יפו בלבד.
</PRE> 

</div>