
<tabset>
    <tab ng-repeat="tab in practiceTabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled" >

	    <div class="list-group" ng-if="practiceTabs[0].active">

			<img src="images/deals.jpg" class="thumbnail pull-right">
			<h3>עסקאות מקרקעין</h3>
			<hr>
			<p>משרדנו מתמחה בטיפול בעסקאות נדל"ן לסוגיהן - מכירות ורכישות, העברות בעלות במתנה ובירושה, חכירות, שכירויות והענקת זכויות נוספות במקרקעין. סוגי הנכסים המטופלים במשרדנו מגוון וכולל, בין היתר, דירות מגורים לסוגיהן, בתי עסק, משרדים, קרקעות לבנייה, שטחי מסחר ואחסנה ועוד.
			</p>
		</div>

	    <div class="list-group" ng-if="practiceTabs[1].active">
	    	<img src="images/tax.jpg" class="thumbnail pull-right">
			<h3>מיסוי מקרקעין</h3>
			<hr>
			<p>
			כחלק בלתי נפרד מעסקה, עיצובה והוצאתה אל הפועל של כל עסקה, המשרד בוחן את אפיקי המיסוי הרלוונטיים, ומסייע ללקוחותיו בגיבוש תנאי העסקה, בין היתר, לאור השלכות המיסוי הגלומות בה. כמו כן, המשרד מייצג את לקוחותיו אל מול רשות המסים, רשויות מקומיות, רשות מקרקעי ישראל וחברות משכנות, ואמון על הטיפול בביורוקרטיה הכרוכה בכל עסקה.
			</p>
		</div>

		<div class="list-group" ng-if="practiceTabs[2].active">
	    	<img src="images/bridge.jpg" class="thumbnail pull-right">
			<h3>מימון פרוייקטים</h3>
			<hr>
			<p>
			כחלק בלתי נפרד מעסקה, עיצובה והוצאתה אל הפועל של כל עסקה, המשרד בוחן את אפיקי המיסוי הרלוונטיים, ומסייע ללקוחותיו בגיבוש תנאי העסקה, בין היתר, לאור השלכות המיסוי הגלומות בה. כמו כן, המשרד מייצג את לקוחותיו אל מול רשות המסים, רשויות מקומיות, רשות מקרקעי ישראל וחברות משכנות, ואמון על הטיפול בביורוקרטיה הכרוכה בכל עסקה.
			</p>
		</div>

		<div class="list-group" ng-if="practiceTabs[3].active">
	    	<img src="images/justice.jpg" class="thumbnail pull-right">
			<h3>לטיגציה</h3>
			<hr>
			<p>
			כחלק בלתי נפרד מעסקה, עיצובה והוצאתה אל הפועל של כל עסקה, המשרד בוחן את אפיקי המיסוי הרלוונטיים, ומסייע ללקוחותיו בגיבוש תנאי העסקה, בין היתר, לאור השלכות המיסוי הגלומות בה. כמו כן, המשרד מייצג את לקוחותיו אל מול רשות המסים, רשויות מקומיות, רשות מקרקעי ישראל וחברות משכנות, ואמון על הטיפול בביורוקרטיה הכרוכה בכל עסקה.
			</p>
		</div>
		
		<div class="list-group" ng-if="practiceTabs[4].active">
	    	<img src="images/penciles.jpg" class="thumbnail pull-right">
			<h3>חברות</h3>
			<hr>
			<p>
			כחלק בלתי נפרד מעסקה, עיצובה והוצאתה אל הפועל של כל עסקה, המשרד בוחן את אפיקי המיסוי הרלוונטיים, ומסייע ללקוחותיו בגיבוש תנאי העסקה, בין היתר, לאור השלכות המיסוי הגלומות בה. כמו כן, המשרד מייצג את לקוחותיו אל מול רשות המסים, רשויות מקומיות, רשות מקרקעי ישראל וחברות משכנות, ואמון על הטיפול בביורוקרטיה הכרוכה בכל עסקה.
			</p>
		</div>

		<div class="list-group" ng-if="practiceTabs[5].active">
	    	<img src="images/books.jpg" class="thumbnail pull-right">
			<h3>רגולציה</h3>
			<hr>
			<p>
			כחלק בלתי נפרד מעסקה, עיצובה והוצאתה אל הפועל של כל עסקה, המשרד בוחן את אפיקי המיסוי הרלוונטיים, ומסייע ללקוחותיו בגיבוש תנאי העסקה, בין היתר, לאור השלכות המיסוי הגלומות בה. כמו כן, המשרד מייצג את לקוחותיו אל מול רשות המסים, רשויות מקומיות, רשות מקרקעי ישראל וחברות משכנות, ואמון על הטיפול בביורוקרטיה הכרוכה בכל עסקה.
			</p>
		</div>
  	</tab>
</tabset>
